:root {
   font-size: 24px;
}

#container {
   background-color: rgb(240, 240, 240);
}

#container > div {
   width: 100px;
   height: 100px;
   position: relative;
}

#container > div:first-of-type {
   background-color: red;
}

#container > div:nth-of-type(2) {
   background-color: green;
   bottom: 100px;
   transform: rotate(15deg);
}

#container > div:nth-of-type(3) {
   background-color: blue;
   bottom: 200px;
   transform: rotate(30deg);
}

